<div class="row">
	<div class=col></div>
	<div class="col-sm-3 justify-content-center">
		<%= image_tag('blog.png',size: '200x200', class:"rounded-circle") %>
		
	</div>
	<div class="col-sm-6">
		<div class="row justify-content-center">
			<h3 align="center">Profile</h3>
		</div>
		<br/>
		<div class=row>
			<div class="mb-4 col">
			    <strong>First Name</strong>
			</div>
			<div class="mb-4 col">
			    <%= @profile.first_name %>
			</div>
		</div>
		<div class=row>
			<div class="mb-4 col">
			    <strong>Last Name</strong>
			</div>
			<div class="mb-4 col">
			    <%= @profile.last_name %>
			</div>
		</div>
		<div class=row>
			<div class="mb-4 col">
			    <strong>Address</strong>
			</div>
			<div class="mb-4 col">
			    <%= @profile.address %>
			</div>
		</div>
		<div class=row>
			<div class="mb-4 col">
			    <strong>Phone Number</strong>
			</div>
			<div class="mb-4 col">
			    <%= @profile.phone_number %>
			</div>
		</div>
			
			
		<div class="row actions justify-content-center">
		    <%= link_to "Update" , edit_profile_path(@profile.id) , class:"btn btn-primary col-sm-4" %>
		</div>
		
	</div>
	<div class=col></div>
</div>