<h1 align="center">Log In</h1>
<br/>
<%= form_for :session do |form| %>
  

<div class="container-fluid col-md-4" style="margin:auto;">
<div class="mb-3">
    <%= form.label :username %><br/>
    <%= form.text_field :username, class:'form-control is-valid', :required=>true%>
      <div class="invalid-feedback">
          Please enter Username.
      </div>
  </div>

  <div class="mb-3 justify-content-center">
    <%= form.label :password %>
    <%= form.password_field :password, class:'form-control is-valid', :required=>true %>
    <div class="invalid-feedback">
          Please enter password.
      </div>
  </div>
<br/>
  <div class="actions justify-content-center">
    <%= form.submit "Sign In", class:"btn btn-primary btn-block" %>
  </div>
</div>
<% end %>
