<%= form_for @friend do |f| %>
  <div class="form-row justify-content-center">
    <div class="col-md-3 mb-3">
      <%= f.label :first_name, "First Name"%>
      <%= f.text_field :first_name, class:'form-control is-valid', :required=>true%>
      <div class="invalid-feedback">
          Please enter First Name.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.label :last_name, "Last Name"%>
      <%= f.text_field :last_name, class:'form-control is-valid', :required=>true%>
      <div class="invalid-feedback">
          Please enter Last Name.
      </div>
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="col-md-6 mb-3">
      <%= f.label :email, "E-mail"%>
      <%= f.text_field :email, class:'form-control is-valid', :required=>true%>
      <div class="invalid-feedback">
          Please enter E-mail.
      </div>
    </div>
    
  </div>
  <div class="form-row justify-content-center">
    <div class="col-md-6 mb-3">
      <%= f.label :phone_number, "Phone Number"%>
      <%= f.text_field :phone_number, class:'form-control is-valid', :required=>true%>
      <div class="invalid-feedback">
          Please enter E-mail.
      </div>
    </div>
  </div>
  <div class="form-row justify-content-center">
   <div class="col-md-6 mb-3"> 
  <%= f.submit "Submit", class:"btn btn-primary col-md-12" %></div>
  </div>
  <div class="form-row justify-content-center">
    <div class="col-md-6 mb-3">
      <p class="text-muted text-center">
        <%= link_to "Cancel", root_path,class:"text-reset" %>
      </p>
    </div>
  </div>
  <% end %>
