<h1> Friend List</h1>
<div class="col-sm-10 table-responsive">
      <table class="table table-borderless">
        <tr>
          <th>
            <%= check_box_tag 'select_all', 'Select All',false,id: 'selectAll',class: 'selectal'%>
            <%= label_tag 'select_all', 'Select All' %>
          </th>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'CHECKBOX_NAME', 'CHECKBOX_VALUE',false, class: 'selectable'%>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, class: 'selectable' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, class: 'selectable'%>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'select-all' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'select-all'%>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'select-all'%>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
          <td>
            <%= check_box_tag 'wine[state][]', 'State 1',checked=false, id: 'wine.state.1' %>
            <%= label_tag 'wine.state.1', 'State 1' %>
          </td>
        </tr>
      </table></div>
<% @friend.each do |friend| %>
	<br/>
<div class="jumbotron" style="padding: 1rem 2rem; ">
  <h3 class="display-5"><%= friend.first_name %><%= friend.last_name %></h3>
  <hr class="my-2">
  <p><%= friend.email %></p><br/>
  <p><%= friend.phone_number %></p>
  <p class="lead" style="font-size: 1rem;">
  	<%= link_to 'Show Friend', friend_path(friend.id)%>&nbsp&nbsp
  	<%= link_to 'Edit Friend', edit_friend_path(friend.id)%>&nbsp&nbsp
    <%= link_to 'Delete Friend', friend_path(friend.id), method: :delete, data: {confirm: "Are you Sure?"}%>
    
  </p>
</div>
<%end%>