<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0 0">
  <div class="row container-fluid">
    <div class="col-md-4 float-left">
      <%= link_to image_tag("blog.png",:size=>"70x50"), root_path, class:'navbar-brand' %><hidden><strong style="font-size:30px;">SuperBlog</strong></hidden>
    </div>
    <div class="col-md-4 justify-content-center">
      <form autocomplete=off class="form-inline md-form form-sm mt-0" method="get" action="/search">
        <i class="fas fa-search" aria-hidden="true"></i>
        <%= text_field :q, params[:q], class: "form-control form-control-sm ml-3 w-75", placeholder: "Search" %>
        
      </form>

    </div>
    <div class="col-md-4 float-right">
    <% if logged_in? %>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="nav collapse navbar-collapse justify-content-end" id="navbarNav" aria-labelledby="Toggle navigation">
      <ul class="navbar-nav float-right">
        <% if current_user.admin? %>
          <li class="nav-item active">
          <%= link_to 'Users', users_path, class:"nav-link" %>
        </li>
        <% end %>
<<<<<<< HEAD
        <li class="nav-item active">
          <%= link_to 'Messages', messages_path, class:"nav-link" %>
        </li>
=======
>>>>>>> 1889c70ee041c499340c22232d1603ec56577a4d
        <li class="nav-item active">
          <%= link_to 'Friends', friends_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="post" role="button" aria-haspopup="true" aria-expanded="false">Posts</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="post">
            <%= link_to 'Create Post', new_post_path, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Show Posts', posts_path, class:"dropdown-item" %>
          </div>
          
        </li>
        <li class="nav-item dropdown active">
<<<<<<< HEAD
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="user" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.username.capitalize%><%=image_tag("blog.png",size:"30x30",class:"img-circle")%></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user">
            <%= link_to 'Profile', user_profile_path, class:"dropdown-item" %>
=======
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="user" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.username%><%=image_tag("blog.png",size:"30x30",class:"img-circle")%></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user">
            <%= link_to 'Profile', user_path(session[:user_id]), class:"dropdown-item" %>
>>>>>>> 1889c70ee041c499340c22232d1603ec56577a4d
            <div class="dropdown-divider"></div>
            <%= link_to 'Show my Posts', user_posts_path, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log Out', logout_path,method: :delete, class:"dropdown-item" %>
            </div>
        </li>
      </ul>
    </div>
    <% else %>
        <ul class="navbar-nav float-right">
          <li class="nav-item active">
          <%= link_to 'Log In', sign_in_path, class:"nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Sign Up', sign_up_path, class:"nav-link" %>
        </li>
        </ul>
    <% end %>
  </div>
  </div>
 
</nav>